*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-p1{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 10px 10px;
}
#main-p2{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 10px 10px;
}
#intro{
    height: 70%;
    width: 100%;
    margin-top: 30px;
}
#intro h2{
    font-size: 110px;
}