*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-p1{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 20px 20px;
}
#main-p2{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 20px 20px;
}
#intro{
    height: 70%;
    width: 100%;
    margin-top: 100px;
    padding: 20px 20px;
}
#intro h2{
    font-size: 110px;
    padding: 20px 20px;
}
#intro-child{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
#pics{
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    gap: 40px;
    margin-top: 20%;
    align-items: center;
    justify-content: center;
}
#pic1{
    height: 90%;
    width: 40%;
    background-color: white;
    padding: 20px 20px;
    background-image: url(https://cdn.pixabay.com/photo/2025/04/28/19/59/female-model-9565629_1280.jpg);
    background-size: cover;
    border-radius: 10px;
}
#pic2{
    height: 90%;
    width: 40%;
    background-color: white;
    padding: 20px 20px;
    background-image: url(https://cdn.pixabay.com/photo/2022/03/04/05/59/fashion-model-7046623_1280.jpg);
    background-size: cover;
    border-radius: 10px;
}
